doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title shr4pnel blog
        link(rel="preload" as="style" href="/globals.css")
        link(rel="stylesheet" href="/globals.css")
    body 
        header 
            .container.title-container
                h1.logo shrapnelnet
        main
            .container
                h2.highlighted articles
                #articles
                    each post in posts
                        article
                            -const image = post.thumb === "default" ? "/anon.png" : post.thumb
                            -const date = new Date(post.date)
                            .card 
                                img(src=image alt="article image" height="80" width="80")
                                a(href=`/posts/${post.name}`)=post.title
                                p=date.toLocaleString().split(",")[0]
                p 
                    | or uhh just play&nbsp;
                    a(href="/minesweeper") minesweeper
                    | &nbsp;:3
                img(src="/cutiecat.gif" alt="cute cats bouncing up and down animated")
                footer 
                    #socials
                        h2.highlighted socials
                        div 
                            // this is to pretend there's a little image here
                            div(style="width:42px")
                            a(href="/links") My webrings!
                        div
                            div(style="width:42px")
                            a(href="mailto:admin@shr4pnel.com") My email
                        div
                            img(src="/github-mark.svg" alt="github logo" width="32px" height="32px")
                            a(href="https://github.com/shrapnelnet/" target="_blank") github/shrapnelnet
                        div
                            img(src="/mastodon.svg" alt="mastodon logo" width="32px" height="32px")
                            a(href="https://blobfox.coffee/@tyler" target="_blank") @tyler@blobfox.coffee
                        div
                            img(src="/rss_optimised.png" alt="rss logo" width="32px" height="32px")
                            a(href="/rss.xml") RSS feed
                    #friends
                        h2.highlighted friends
                        .friend-container
                            a(href="/")
                                img(src="/blogbutton.gif" alt="blog.shr4pnel.com blog button. has a little animated cat called mauzy on it")
                            a(href="https://foreverliketh.is")
                                img(src="/foreverliketh.is.png" alt="foreverliketh.is blog banner. green leaves with light blue text in front")
                            a(href="https://angelsaremathematical.neocities.org/" target="_blank")
                                img(src="/angels.png" alt="pink background with confetti with original apple pink CRT with monospaced font reading angels are mathematical")
                            a(href="https://blunt.gay" target="_blank")
                                img(src="/bluntgay.png" alt="purple outline and text, monospaced, rainbow left aligned, text right aligned")
                            a(href="https://gapandfriends.neocities.org" target="_blank")
                                img(src="/IMG_7032.png" alt="blue chequered backdrop, red text reading: gap & friends")
                            a(href="https://aboboracandy.neocities.org" target="_blank")
                                img(src="/aboborabtn.gif" alt="a forest cabin with a smoking chimney next to swirling orange autumn leaves")
                            a(href="https://myyolo1999.blogspot.com" target="_blank")
                                img(src="/porcupine.png" alt="text reads: 'blog read', 'personality? no $$$ 4 dat!'")
                            a(href="https://whitevhs.xyz" target="_blank")
                                img(src="/whitevhs.gif" alt="monochrome 2 frame gif which inverts on each frame change. shows a vhs tape.")
                            a(href="https://risingthumb.xyz" target="_blank")
                                img(src="/risingthumb.png" alt="rose petals swept by the wind")
                        h2.highlighted lainchan
                        .friend-container.lain
                            sub.lain-text
                                | i am manually curating and adding to this list, please contact me at 
                                a(href="mailto:admin@shr4pnel.com") admin@shr4pnel.com
                                | &nbsp;or my mastodon if you'd like to be added. feel free to add my button to your blog, and the lainchan button onto your blog after sending your button to the post there on the /tech/ section of the forum.
                            sub.lain-text and please feel free to email me. i love hearing from new people and its nice to not be the one reaching out.
                            span.flex-wrap
                            a(href="/")
                                img(src="/lain/blog.shr4pnel.com.gif" loading="lazy" alt="grey background, style of windows 9x button, cat called mauzy next to animated text which reads: blog.shr4pnel.com (disappears) you like blogs dont you?")
                            a(href="https://forum.agoraroad.com" target="_blank")
                                img(src="/lain/agora.gif" loading="lazy" alt="animated gif with scrolling fading out text: shhhhh (fade out) the best kept secret")
                            a(href="https://articexploit.xyz" target="_blank")
                                img(src="/lain/arcade.gif" loading="lazy" alt="animated gif with retropunk text outlined in blue filled with pink spelling: the arcade. background is a flashing arcade with lit up screens")
                            a(href="https://lainchan.org" target="_blank")
                                img(src="/lain/lainchan.org.gif" loading="lazy" alt="distorted gif with face of lain iwakura next to the font from the show in the top right reading: lainchan.")
                            a(href="https://gamajun.neocities.org/webrings/lainring" target="_blank")
                                img(src="/lain/gamajun.png" loading="lazy" alt="grey background, pink design and text, glyphs surrounded by floral pattern")
                            a(href="https://havinganame.neocities.org" target="_blank")
                                img(src="/lain/havinganame.png" loading="lazy" alt="still image, neon green text on black backdrop. reads: havinganame@neocities")
                            a(href="https://cabbagesorter.neocities.org/" target="_blank")
                                img(src="/lain/cabbagesorter.png" loading="lazy" alt="still image, monospaced green font on black backdrop. face in anime style to right of image with glow effect applied around it. text is glowing green around the edges")
                            a(href="https://foreverliketh.is" target="_blank")
                                img(src="/lain/foreverliketh.is.gif" loading="lazy" alt="foreverliketh.is blog banner. green leaves with light blue text in front")
                            a(href="https://sizeof.cat" target="_blank")
                                img(src="/lain/sizeofcat.gif" loading="lazy" alt="white text on black background with blue cat. animated, cats eyes turn red and it rolls offscreen to the right. text reads: sizeof. cat is on the right of this text")
                            a(href="https://varchar.neocities.org/" target="_blank")
                                img(src="/lain/varchar.png" loading="lazy" alt="ascii art green terminal stylised text reading: varchar")
                            a(href="https://猫.移动/webring/" target="_blank")
                                img(src="/lain/xn-neko.gif" loading="lazy" alt="catgirl moving left and right next to 3d japanese characters")
                            a(href="https://jahanrashidi.com/explore/" target="_blank")
                                img(src="/lain/smile.png" width="240" height="60" alt="emoticon smiley face on a grey backdrop")
                            a(href="https://bass2nick.com" target="_blank")
                                img(src="/lain/bass2nick.gif" loading="lazy" alt="round empty snail-like shell flashing in a circular motion reading: bass2nick.com")
                            a(href="https://0x19.org" target="_blank")
                                img(src="/lain/0x19.png" loading="lazy" alt="static image written in an old text editor reading: term% 0x19.org. black on white. cyan border")
                            a(href="https://gapandfriends.neocities.org/webring" target="_blank")
                                img(src="/lain/gapandfriend.png" loading="lazy" alt="red handdrawn bubble writing squared text with thin black outline reading: gap & friend! on a 2 tone blue checkered backdrop")
                            a(href="https://navyjoecomics.neocities.org/" target="_blank")
                                img(src="/lain/navyjoecomics.gif" alt="2 tone blue checkered backdrop. centered text on left half white with dark blue outline in retro font reading: NAVY JOE COMICS. black and white portrait of the mascot is on the right of the text")
                            a(href="https://s-config.com" target="_blank")
                                img(src="/lain/s-config.png" loading="lazy" alt="tri tone black and white swirling effect with s-config.com written in cursive font")
                            a(href="https://redchanit.xyz/lainring.html" target="_blank")
                                img(src="/lain/redchanit.png" loading="lazy" alt="black background with orange flames. red text with black outline saying: redchanit")
                            a(href="https://crystal.tilde.institute" target="_blank")
                                img(src="/lain/crystal-tilde.gif" loading="lazy" alt="grey border. black backdrop, glowing neon pink text flicking between 2 phrases: crystal.tilde.institute, your brain is tricking you into thinking. image flickers and has RGB noise and CRT scanlines")
                            a(href="https://grafo.zone" target="_blank")
                                img(src="/lain/grafo-zone.gif" loading="lazy" alt="yellow border, reddish black background. yellow text flickering like electricity flicking between 2 phrases: grafo, .zone")
                            a(href="https://risingthumb.xyz" target="_blank")
                                img(src="/lain/risingthumb.png" alt="rose petals swept in the wind")